body{
    background-image: url("../img/Group 640.jpg");
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -550px;
    width: 1100px;
    height: 800px;
    background-color: white;
    border:none;
    border-radius: 40px;
    box-shadow: black 3px 3px 15px;
    display: flex;
}
#sidebar{
    position: relative;
    height: 100%;
    width: 12%;
    background-color: orangered;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}
#icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 450px;
    width: fit-content;
    top: 20px;
    left: 18px;
}
.icon:hover{
    opacity: 1;
}
#main-content{
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    height: 100%;
    width: 100%;
    background-image: url("../img/023-astronomy 1.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-clip: content-box;
}
.content-block{
    position: relative;
    min-width: 500px;
    width: fit-content;
    margin: 30px;
    box-shadow: black 1px 1px 5px;
    border-radius: 20px;
}
.content-block .content{
    padding: 15px;
}
.content-block .top-line{
    font-weight: bold;
    padding: 15px;
    border-bottom: lightgray solid 1px;
}
.content-block .content ul{
    padding-left: 0;
    margin: 0;
}
.content-block .content li{
    list-style-type: none;
    margin-bottom: 5px;
}
.content-block .top-line button{
    font-weight: bold;
    position: absolute;
    right: 30px;
    border-radius: 10px;
    border: none;
    padding: 6px 40px 6px 40px;
    background-color: lightgray;
}
.content .pointer{
    margin: 4px 6px 4px 4px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    float: left;
}
.content .pointer[pointer-color="green"]{
    background-color: #73E24D;
}
.content .pointer[pointer-color="red"] {
    background-color: #FF7D84;
}
.content .string{
    display: flex;
    padding: 8px;
}
.content .string:not(:nth-child(-n+1)) {
    border-top: lightgray 1px solid;
}
.content .string .name{
    width: 150px;
    font-weight: bold;
    color: #0A5499;
}